body{background-image: url('../image/devinefinalimage.png');
	 background-repeat: no-repeat;
	 background-size: cover;}
h1 {font-size:70pt;}
h1 {color: white;}
h1{text-align: center;}
h1{font-family: "IMPACT";}
p{font: normal 25pt/27pt Times,serif;}
p{color: white}
p{font-family: "IMPACT";}